* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  border: none;
  max-width: 1600px;
}

html {
  z-index: -100;
  max-width: 1600px;

  /*Code sourced form Stackoverflow:display:
  https://stackoverflow.com/questions/43186015/css-hide-scroll-bar-but-have-element-scrollable*/

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
  display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  --border-radius10: 10px;
  --border-radius15: 15px;
  --border-radius30: 30px;
  --border-radius50: 50%;
  --font-size1: 1rem;
  --font-size2: 2rem;
  --font-size3: 3rem;
  --font-size4: 4rem;
  --font-size5: 5rem;
}

/* Tool tips styling */
.toolTip {
  position: relative;
  display: inline-block;
}

.toolTip .toolTipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the toolTip */
  position: absolute;
  z-index: 1;
}

.toolTip:hover .toolTipText {
  visibility: visible;
}

h2 {
  font-family: Optima, sans-serif;
  font-weight: light;
  letter-spacing: 0.15rem;
}

h3 {
  margin: 1rem 0;
  padding: 1rem;
}

a {
  text-decoration: none;
}

p {
  margin: 0 1rem;
  padding: 1rem;
  font-family: Arial, sans-serif;
  text-align: start;
  letter-spacing: 0.10rem;
  line-height: 1.5rem;
  border: 2px solid red;
  border-radius: 10px;
  background: rgba(198, 228, 247, 75%)
}
/* Parallax Hero Animation styling */

/*Code sourced from this YouTube video
  https://www.youtube.com/watch?v=mxHoPYFsTuk  4:50*/
.wrapper {
  position: fixed; /* Sticks the wrapper behind the nav and h2; lets the nav stay fixed to top of page; BUT still causes nav to scroll off page SOOOOO*/
  height: 250vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 50px;
  scroll-behavior: smooth;
  margin: -40rem auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;

}

#heroHeader {
  position: relative;
  top: 40vh;
  width: 100%;
  color: #fff;
  font-size: 10rem;
  margin: 0 auto;
  transform: translateZ(-10px) scale(1);
  text-shadow: 0 0 5px #000;
}

/* Body background -- yellow notepad paper -- does not scroll */
.parallaxBackground {
  position: relative;
  content: "";
  background-image: url("https://github.com/VKS-8/Image-assests/blob/main/Note%20taking%20app-Image%20Assets/Screenshot%20(2286).png?raw=true");
  transform: translateZ(-100px);
  min-height: 750px;
  max-width: 1600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.foreground {
/* Sets image on plane that scrolls at a different speed than the other planes based on distance */
transform: translateZ(-25px) scale(2);
}

.middleground {
/* Sets image on plane that scrolls at a different speed than the other planes based on distance*/
transform: translateZ(-80px) scale(3);
}

.middleground, .foreground {
  position: absolute;
  top: 100rem;
  padding: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover; /*------Gives correct aspect ration no matter screen size-----*/
}

/* Sets elements to invisible until this class is removed from their classList
    in javascript at the end of the parallax hero animation */
.section {
  display: none;
}

/* TODO Searching for the setting to stop the nav and header from scrolling off the page */
.navContentContainer {
  position: relative;
  margin: 0 auto 0.1rem;
}

section nav #nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#nav-bar {
  position: sticky; /* Brings nav in front of parallax wrapper along with h2*/
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: minmax(40vh);
}

#icon {
  display: inline-grid;
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  letter-spacing: 0.5rem;
  margin-right: auto;
}

#icon:hover {
  background: linen;
  color: #3293a8;
}

.nav-link {
  display: flex;

  background: #3d3720; /*legal pad top binder brown*/

  margin: 0;
  padding: 0.75rem 0.75rem;
  width: 100%;

  text-decoration: none;
  list-style-type: none;

  font-family: Optima, sans-serif;
  font-size: 0.75rem;
  font-weight: 900;
  color: white;
  letter-spacing: 0.05rem;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-link:hover {
  background: linen;
  color: #3293a8;
}

/* TODO Testing-->Set active state on nav when section scrolls into viewport */
.nav-link:active {
  background: linen;
  color: #3293a8;
}

/* App's main title */
.appTitle {
  /* position: sticky; */
  width: 100%;
  background: #f7f1d0;
  font-size: 3rem;
  text-align: center;
  border: 2px solid red;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.75), 0 6px 10px 0 rgba(0, 0, 0, 1);
  }

/* Add characters section styles*/

/* Modal Container */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 25%;
  top: 25vh;
  width: 50%;
  height: 25%;
  border-radius: 10px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Content inside of modal */
.modalContent {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 50%;
  max-width: 500px;
}

/* Modal closing X */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  grid-template-areas:
  "name"
  "image"
  "buttons";
}

#characterNameInput {
  grid-area: name;
  height: 3rem;
  width: 80%;
  margin: 0.5rem auto;
  padding: 0 0 0 2rem;
  border: 1px solid #808080;
  border-radius: 10px;
}

#characterImageInput {
  grid-area: image;
  height: 3rem;
  width: 80%;
  margin: 0.5rem auto;
  padding: 0 0 0 2rem;
  border: 1px solid #808080;
  border-radius: 10px;
}

#modalButtons {
  grid-area: buttons;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* New Entry section styles */

#newEntryHeading {
  margin: -10rem auto 1.5rem;
  font-size: 3.5rem;
}

#newEntry {
  text-align: center; /*centers the project-items*/
  margin: 10rem auto;
}

/* Add character section */
#addCharacterBtn {
  font-size: 1rem;
}

#characterList {
  display: flex;
  flex-wrap: wrap;
}

#characterList a {
  display: flex;
  /* background-image: url("images/transparentBkgrd/brian-lundquist-Gp-g69K-pgs-unsplash-transparent-background.png"); */
  background: #f0f0f0;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: 3rem 1rem;
  padding: 2rem;
  color: black;
  cursor: pointer;
  font-size: 2.75rem;
  align-items: center;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.note-items {
  display: inline-grid;
  grid-template-columns: auto;
  margin: 1rem auto;
  width: 100%;
  height: auto;

}

.note-link {
  display: grid;
  text-align: center;
  background-color: black;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.75), 0 6px 15px 0 rgba(0, 0, 0, 1);
}

/* .form-control */

.button {
  width: 6rem;
  height: 6rem;
  border: 3px solid #34b1eb; /* Light blue */
  border-radius: 50%;
  margin: 1rem;
  padding: 0;
  cursor: pointer;
  font-size: .75rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background: #c6e4f7;
}

fieldset {
  border: none;
}

#note-cat-title {
  margin: 0 10rem; /*Not working*/
}

#deleteBtn,
#editBtn {
  display: flex;
  justify-content: center;
  width: 40%;
  padding: 0.25rem;
  margin: 1rem auto;
  letter-spacing: 0.05rem;
  border-radius: 5px;
  border: 3px solid #c6e4f7;
  cursor: pointer;

}

#deleteBtn:hover,
#editBtn:hover {
  background: #c6e4f7;
}

/* TODO: find out what this if for */
.alert {
  visibility: hidden;
}

/* Single text box to input information for each aspect of the story */
.inputTextArea {
  display: visible;
  width: 80%;
  height: 50vh;
  margin: 5rem auto;
  padding: 2rem;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

textarea {
  display: relative;
  top: 0;
  width: 80%;
  height: 50vh;
  margin: 0;
  padding: 0.5rem;
  color: #808080;
  border-radius: 10px;

  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

/* #characterSelectDropdown {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
} */

/*Code sourced from:
* 50 Projects In 50 Days - HTML, CSS & JS - 6 Scroll Animation || By Frontend Genius || #html #css #js
* https://www.youtube.com/watch?v=Yuc0UcHyFXc */

/* Parallax hero animation settings*/

/* h1 element transition */
.transitionHeroHeader {
  transform: translateY(-100%);
  transition: transform 10s ease;
}

/* Foreground image element transition */
.transitionForeground {
    transform: translateY(-100%);
    transition: transform 15s ease;
  }

  /* Middleground image element transition */
.transitionMiddleground {
  transform: translateY(-100%);
  transition: transform 17s ease;
}

/* This transitions the text area box off the screen */

.transition-box {
  transform: translateX(0%);
  transition: transform 1s ease;
}

/* TODO may not need this for this design */
/* .transition-box:nth-of-type(even) {
  transform: translateX(100%);
} */

.transition-box.transitionTextBox {
  transform: translateX(150%);
}

/* MEDIA QUERIES */

@media screen and (max-width: 410px) {
  html {
    max-width: 410px;
  }

  #notes-header {
    font-size: 2rem;
  }
}

@media screen and (max-width: 310px) {
  html {
    max-width: 310px;
  }

  #notes-header {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 245px) {
  html {
    max-width: 245px;
  }

  #notes-header {
    font-size: 0.75rem;
  }

  h2 {
    font-size: 0.75rem;
  }

  p {
    font-size: 0.65rem;
  }
}
