@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  z-index: -100;

  /*Code sourced form Stackoverflow:display:
  https://stackoverflow.com/questions/43186015/css-hide-scroll-bar-but-have-element-scrollable*/

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
  display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

:root {
 --border-radius: 15px;
}

/*Code sourced from this YouTube video
  https://www.youtube.com/watch?v=mxHoPYFsTuk  4:50*/
.wrapper {
  height: 250vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 8px;
  scroll-behavior: smooth;

}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  /* scroll-behavior: smooth; */
}

#heroHeader {
  position: absolute;
  width: 100%;
  background: #f7f1d0;
  font-size: 3rem;
  text-align: center;
  border: 2px solid red;
  margin: 0 1rem 0; /*--- Set header at base of container to prepare for scroll effect---*/
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.75), 0 6px 10px 0 rgba(0, 0, 0, 1);
  /* scroll-behavior: smooth; */
  transform: translateZ(-4px) scale(3);
}


.parallaxBackground {
  position: relative;
  content: "";
  background-image: url("https://github.com/VKS-8/Image-assests/blob/main/Note%20taking%20app-Image%20Assets/Screenshot%20(2286).png?raw=true");
  transform: translateZ(-50px);
  min-height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  .foreground {
  /* Sets image on plane that scrolls at a different speed based on distance than the other planes*/
  transform: translateZ(-20px) scale(3.5);
  }

  .middleground {
  /* Sets image on plane that scrolls at a different speed based on distance than the other planes*/
  transform: translateZ(-30px) scale(6);
  top: -55rem;
  }

  .middleground, .foreground {
    position: absolute;
    padding: 0;
    height: 100%;
    width: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover; /*------Gives correct aspect ration no matter screen size-----*/
  }

  .hero-pTag {
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 10rem;
    margin: -125rem auto;
    text-align: center;
    transform: translateZ(-2px) scale(1);
  }

div #nav-bar #nav-bar {
  display: flex;
  flex-direction: row;

  width: 100%;

  justify-content: center;

  border: px solid #3385e8; /*periwinkle*/
}

#nav-bar {
  display: flex;
  width: 100%;
  height: minmax(40vh);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#icon {
  display: inline-grid;
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  letter-spacing: 0.5rem;
  margin-right: auto;
}

#icon:hover {
  background: linen;
  color: black;
}

.nav-link {
  display: flex;

  background: #3d3720; /*legal pad top border brown*/

  margin: 0;
  padding: 0.3rem 0.75rem;
  width: 100%;

  text-decoration: none;
  list-style-type: none;

  font-family: Optima, sans-serif;
  font-size: 0.75rem;
  font-weight: 900;
  color: white;
  letter-spacing: 0.05rem;

  justify-content: center;
  align-items: center;
  text-align: center;

  border: px solid #3293a8; /*tourquois*/
}

.nav-link:hover {
  background: linen;
  color: black;
}

h2 {
  font-family: Optima, sans-serif;
  font-weight: light;
  letter-spacing: 0.15rem;
}

#new-note {
  text-align: center; /*centers the project-items*/
}

.note-items {
  display: inline-grid;
  grid-template-columns: auto;
  margin: 1rem auto;
  width: 100%;
  height: auto;

}

.note-link {
  display: grid;
  text-align: center;
  background-color: black;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.75), 0 6px 15px 0 rgba(0, 0, 0, 1);
}

/* .form-control */

.add-to-script-button {
/*   position: relative; */
  width: 6rem;
  height: 6rem;
  border: 3px solid #34b1eb; /* Light blue */
  border-radius: 50%;
  margin: 1rem;
  padding: 0;
  z-index: -1;
  cursor: pointer;
  font-size: 0.5rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.add-to-script-button:hover {
  background: #c6e4f7;
}

fieldset {
  border: none;
}

#note-cat-title {
  margin: 0 10rem; /*Not working*/
}

#delete-btn,
#edit-btn {
  display: flex;
  justify-content: center;
  width: 40%;
  padding: 0.25rem;
  margin: 1rem auto;
  letter-spacing: 0.05rem;
  border-radius: 5px;
  border: 3px solid #c6e4f7;
  cursor: pointer;

}

#delete-btn:hover,
#edit-btn:hover {
  background: #c6e4f7;
}

h3 {
  margin: 1rem 0;
  padding: 1rem;

}

p {
  margin: 0 1rem;
  padding: 1rem;
  font-family: Arial, sans-serif;
  text-align: start;
  letter-spacing: 0.10rem;
  line-height: 1.5rem;
  border: 2px solid red;
  border-radius: 10px;
  background: rgba(198, 228, 247, 75%)
}

.alert {
  visibility: hidden;
}

.inputTextArea {
  display: none;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  margin: 0.5rem auto;
}

textarea {
  display: relative;
  top: 0;
  width: 100%;
  height: 35vh;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

#characterSelectDropdown {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

/*Code sourced from:
* 50 Projects In 50 Days - HTML, CSS & JS - 6 Scroll Animation || By Frontend Genius || #html #css #js
* https://www.youtube.com/watch?v=Yuc0UcHyFXc */

.transition-box {
  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.transition-box:nth-of-type(even) {
  transform: translate(100%);
}

.transition-box.transitionTextBox {
  transform: translateX(0);
}

@media screen and (max-width: 410px) {
  #notes-header {
    font-size: 2rem;
  }
}

@media screen and (max-width: 310px) {
  #notes-header {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 245px) {
  #notes-header {
    font-size: 0.75rem;
  }

  h2 {
    font-size: 0.75rem;
  }

  p {
    font-size: 0.65rem;
  }
}
